*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars           
crash.log

ansible/hosts.ini
ansible/group_vars/all.yml
ansible/kubeconfig
*.retry

*.pem
*.key
id_rsa*
cv-web/ssl/*.crt
cv-web/auth/.htpasswd

.DS_Store
__pycache__/
